<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sd.mapper.UserMapper">

    <resultMap id="userDO_Map" type="com.example.sd.domain.User">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="findById" resultType="com.example.sd.domain.User">
        SELECT * FROM user WHERE id = #{id}
    </select>

</mapper>